[submodule "sites/all/modules/mediamosa_ck"]
	path = sites/all/modules/mediamosa_ck
	url = https://github.com/arjenk/mediamosa-ck.git
[submodule "sites/all/modules/mediamosa_sdk"]
	path = sites/all/modules/mediamosa_sdk
	url = https://github.com/arjenk/mediamosa-sdk.git
