/* $Id: $ */

.mmappid {
  width: 60px;
  text-align: left;
}

.mmjobid {
  width: 75px;
  text-align: left;
}

.mmjobtype {
  width: 90px;
  text-align: left;
}

.mmassetid {
  width: 220px;
}

.mmmediafileid {
  width: 240px;
}

.mmfilename {
  width: 240px;
}

.mmdate {
  width: 180px;
  text-align: left;
}

.mmoperation {
  width: 120px;
  text-align: center;
}

.mm-table-summary {
  font-weight: bold;
}

.mm-table-summary-right {
  font-weight: bold;
  text-align: right;
}
