TH.simpletest_test {
  width: 300px;
}

#block-mediamosa-mediamosa-version {
	border: 0px;
}

/*
 Fix problem when using float on form elements. Overrides the
 setting on .form-item in rubik theme.
*/
DIV.form-item {
  position:static;
}

.form-item-type,
.form-item-asset-id,
.form-item-mediafile-id {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  width: 15em;
}

#edit-severity, #edit-type {
	width: 15em;
}

.form-item-free-search {
	clear: both;
}

.form-text {
	width: auto;
}

input.form-autocomplete,
input.form-text,
textarea.form-textarea,
select.form-select {
  border-color:#ccc;
}

#mediamosa-dblog-filters {
  clear:both;
}

SMALL {
  font-size:11px;
}

.form-item label {
  color: #333;
}

.collapsed .fieldset-legend a {
  color: #333;
}

.system-themes-list-disabled .theme-selector {
  color:#333;
}

.vertical-tabs-list li a {
  color:#333;
}

.form-item .description, .description {
  color:#333;
}

.odd {
  background-color: #f8f8f8;
}

/**
 * Edit asset form.
 */
#mediamosa-browse-asset-form .form-item .fluid.form-text {
  width: auto;
}

#mediamosa-browse-asset-form .form-item label {
  float: left;
  width: 150px;
  padding-top: 5px;
  padding-right: 20px;
}

/**
 * Icons
 */
.path-admin-mediamosa span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-30px 0px;
}

.path-admin-mediamosa-config-global span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-60px 0px;
}

.path-admin-mediamosa-config-connector span.icon, .path-admin-config-media-mediamosa-connector span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-90px 0px;
}

.path-admin-mediamosa-config-server span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:0px -30px;
}

.path-admin-mediamosa-config-app span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-30px -30px;
}

.path-admin-mediamosa-config-development span.icon, .path-admin-config-development-mediamosa-development span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-60px -30px;
}

.path-admin-mediamosa-config-tool_params span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-90px -30px;
}

.path-admin-mediamosa-config-transcode_profile span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:0px -60px;
}

.path-admin-mediamosa-config-webservice span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-30px -60px;
}

.path-admin-mediamosa-browse-asset span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-60px -60px;
}

.path-admin-mediamosa-browse-ftp_batch span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-90px -60px;
}

.path-admin-mediamosa-browse-collection span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:0px -90px;
}

.path-admin-mediamosa-browse-errorcode span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-30px -90px;
}

.path-admin-mediamosa-browse-integrity span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-60px -90px;
}

.path-admin-mediamosa-browse-log span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-90px -90px;
}

.path-admin-mediamosa-browse-restcall span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:0px -120px;
}

.path-admin-mediamosa-browse-revision span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-30px -120px;
}

.path-admin-mediamosa-browse-testing span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-60px -120px;
}

.path-admin-mediamosa-statistics-diskspaceusage span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:0px -150px;
}

.path-admin-mediamosa-statistics-latestcollections span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-30px -150px;
}

.path-admin-mediamosa-statistics-latestmediafiles span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-60px -150px;
}

.path-admin-mediamosa-statistics-streamrequests span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:-90px -150px;
}

.path-admin-mediamosa-statistics-searchwords span.icon {
  background-image:url(images/mediamosa-icons.png);
  background-position:0px -180px;
}

/*
 Changes to the simple test listing.
 */
td.simpletest-test-label {
  width: 500px;
}

td.simpletest-test-label label {
  font-weight: normal;
}

#edit-object-code {
  font-size:11px;
  font-family: monospace;
}

/*
 Fix problem with rubik and messages in simpletest report.
 */
tr.simpletest-pass.even td, tr.simpletest-pass.odd td,
tr.simpletest-fail.even td, tr.simpletest-fail.odd td,
tr.simpletest-exception.even td, tr.simpletest-exception.odd td,
tr.simpletest-debug.even td, tr.simpletest-debug.odd td {
  background: none !important;
}

tr.simpletest-pass.odd {
  background: #b6ffb6 !important;
}
tr.simpletest-pass.even {
  background: #9bff9b !important;
}
tr.simpletest-fail.odd {
  background: #ffc9c9 !important;
}
tr.simpletest-fail.even {
  background: #ffacac !important;
}
tr.simpletest-exception.odd {
  background: #f4ea71 !important;
}
tr.simpletest-exception.even {
  background: #f5e742 !important;
}
tr.simpletest-debug.odd {
  background: #eee !important;
}
tr.simpletest-debug.even {
  background: #fff !important;
}

div.mediamosa-vtabs-submit-text {
  padding: 8px;
  font-weight: bold;
}

th.mediamosa-app-storage-count, th.mediamosa-app-storage-valid {
  width: 80px;
  text-align: center;
}

td.item-center {
  text-align: center;
}

th.mediamosa-app-storage-name,
th.mediamosa-app-storage-location {
  width: 25%;
}

#mediamosa-viewer-node-form #edit-object-code {
  height: 300px;
}

/*
 * Client apps have a slider for quota.
*/
.page-admin-mediamosa-config-app .ui-progressbar-value {
  height: 115%;
}

/*
Fixes drop down boxes that have multiple selections.
*/
select.form-select {
  height: auto;
}
